<template>
  <!-- eslint-disable -->
  <MglMap
    :accessToken="$config.mapbox.accessToken"
    :mapStyle="$config.mapbox.mapStyle"
    :center="center"
    :zoom="8"
    @load="mapLoaded"
  >
    <!-- eslint-enable -->
    <MglMarker
      v-for="location in locations"
      :key="location.timestamp"
      :coordinates="location.coordinates"
      color="#5687c7"
    >
      <svg
        id="Rocket"
        slot="marker"
        version="1.1"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        x="0px"
        y="0px"
        viewBox="0 0 20 20"
        enable-background="new 0 0 20 20"
        xml:space="preserve"
        width="26"
        height="26"
      >
        <path
          fill="#333"
          d="M11.933,13.069c0,0,7.059-5.094,6.276-10.924c-0.017-0.127-0.059-0.213-0.112-0.268
	c-0.054-0.055-0.137-0.098-0.263-0.115C12.137,0.961,7.16,8.184,7.16,8.184C2.842,7.667,3.156,8.528,1.186,13.26
	c-0.377,0.902,0.234,1.213,0.904,0.959c0.67-0.252,2.148-0.811,2.148-0.811l2.59,2.648c0,0-0.546,1.514-0.793,2.199
	c-0.248,0.686,0.055,1.311,0.938,0.926C11.597,17.165,12.439,17.487,11.933,13.069z M12.942,7.153c-0.598-0.613-0.598-1.604,0-2.217
	c0.598-0.611,1.567-0.611,2.166,0c0.598,0.611,0.598,1.603,0,2.217C14.509,7.764,13.539,7.764,12.942,7.153z"
        />
        />
      </svg>
      <!-- eslint-disable -->
      <MglPopup
        anchor="bottom"
        :offset="18"
        :closeButton="false"
        :showed="true"
      >
        <!-- eslint-enable -->
        <div>
          <div>
            <strong>{{ device.name }}</strong>
          </div>
          <div>{{ location.lat }}, {{ location.lng }}</div>
          <div>
            {{
              $moment.unix(location.timestamp).format('D. M. YYYY, HH:mm:ss')
            }}
          </div>
        </div>
      </MglPopup>
    </MglMarker>

    <MglNavigationControl position="top-right" />
    <MglGeolocateControl position="top-right" />
    <MglScaleControl position="bottom-right" />
  </MglMap>
</template>

<script>
import Mapbox from 'mapbox-gl'

import {
  MglMap,
  MglMarker,
  MglPopup,
  MglNavigationControl,
  MglGeolocateControl,
  MglScaleControl
} from 'vue-mapbox'

export default {
  components: {
    MglMap,
    MglMarker,
    MglPopup,
    MglNavigationControl,
    MglGeolocateControl,
    MglScaleControl
  },

  props: {
    device: {
      type: Object,
      default() {
        return {}
      }
    }
  },

  data() {
    return {
      loaded: false,
      firstZoom: true,
      center: ['14.5058', '46.0569'],
      locations: [],
      polling: null
    }
  },

  watch: {
    device() {
      this.firstZoom = true
      this.restartLoadingLocations()
    }
  },

  created() {
    this.mapbox = Mapbox
  },

  beforeDestroy() {
    clearInterval(this.polling)
  },

  methods: {
    mapLoaded(event) {
      this.map = event.map
      this.mapComponents = event.components
      this.loaded = true

      this.restartLoadingLocations()
    },
    restartLoadingLocations() {
      if (!this.loaded) {
        return
      }

      clearInterval(this.polling)

      this.loadLocations()
      this.polling = setInterval(this.loadLocations, 2000)
    },
    loadLocations() {
      const self = this

      this.$axios
        .get('/api/devices/' + this.device.imei + '/locations')
        .then(function(response) {
          const allLocations = response.data

          // Prepare coordinates array for all locations
          for (let i = 0; i < allLocations.length; i++) {
            allLocations[i].coordinates = [
              allLocations[i].lng,
              allLocations[i].lat
            ]
          }

          // Currently we only display the last returned location
          const lastLocation = allLocations[allLocations.length - 1]
          self.locations = [lastLocation]

          // Zoom in on first load
          if (self.firstZoom) {
            self.map.flyTo({
              center: [lastLocation.lng, lastLocation.lat],
              zoom: 16,
              speed: 2
            })
          }

          self.firstZoom = false
        })
    }
  }
}
</script>

<style>
.mgl-map-wrapper {
  height: 100%;
}
</style>
