<template>
  <div
    class="relative shadow bg-white
    md:absolute md:object-left-top md:z-10 md:mt-10 md:ml-10 md:rounded-lg
  dark:bg-gray-900"
  >
    <div class="md:w-64 p-4 pb-0">
      <h1
        class="text-lg text-gray-900 font-bold
      dark:text-gray-300"
      >
        GPS Tracker
      </h1>
      <div
        class="text-gray-500 border-b border-gray-800 pb-4
      dark:text-gray-600 "
      >
        Bachelor's thesis / Klemen B.
      </div>
    </div>
    <div class="m-4 mb-0 dark:text-gray-300">
      Select a device:
    </div>
    <div class="grid grid-cols-2 p-2">
      <div
        v-for="device in devices"
        :key="device.imei"
        :class="{
          'opacity-25 hover:opacity-100':
            activeDevice != null && activeDevice.imei != device.imei
        }"
        class="col-span-1 md:col-span-2 bg-gray-300 p-4 m-2 rounded-lg cursor-pointer transition duration-200"
        @click="setActiveDevice(device)"
      >
        <h2 class="text-sm md:text-base font-bold float-l">
          {{ device.name }}
        </h2>
        <div class="text-xs md:text-sm text-gray-700 ">
          IMEI: {{ device.imei }}
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      activeDevice: null,
      devices: []
    }
  },

  created() {
    this.loadDevices()
  },

  methods: {
    setActiveDevice(device) {
      this.activeDevice = device
      this.$emit('active-device-changed', device)
    },

    loadDevices() {
      const self = this

      this.$axios.get('/api/devices').then(function(response) {
        self.devices = response.data

        if (self.activeDevice == null) {
          self.setActiveDevice(self.devices[0])
        }
      })
    }
  }
}
</script>
