<template>
  <div class="h-full w-full">
    <Selector @active-device-changed="updateDevice" />
    <Map :device="device" />
  </div>
</template>

<script>
import Map from '~/components/Map.vue'
import Selector from '~/components/Selector.vue'

export default {
  name: 'Index',

  components: {
    Map,
    Selector
  },

  data() {
    return {
      device: null
    }
  },

  methods: {
    updateDevice(device) {
      this.device = device
    }
  }
}
</script>
